.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --acent-color: gold;
  --main-color: yellow;
  --btn-back-color: #188ce8;
  --footer-backgroun-color: #2f303a;
  --usually-text-color: #757575;
  --headline-color: #212121;
  --secondary-back-color: #2f303a;
  --third-back-color: #f5f4fa;
  --main-black-color: #000000;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --service-item-color: #eeeeee;
  --icon-color: #afb1b8;
  --contacts-color: #757575;
  --section-pt: 94px;
  --section-pb: 94px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.address-list {
  margin-top: 20px;
}

body {
  font-family: var(--main-font);
  background: var(--main-color);
  width: 1000px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  border: solid 1px var(--usually-text-color);
}

.header {
  max-width: 600px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 300px;
}

.first-name {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 100px;
  margin-bottom: 40px;
}

.second-name {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 40px;
}

.main-menu {
}

.photo {
  max-width: 100%;
  top: -50%;
  left: -50%;
  margin-top: 40px;
}

.footer-text {
  display: block;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.main-menu {
  margin-left: 50px;
  margin-right: 50px;
  background-color: var(--main-color);
}
